@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";

:root {
    --radius: .5rem;
}

.main-bg-gray {
    background: #f8f8f8;
}

.secondary-bg-white {
    background: #fff;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: #f8f8f8;
}

.login-page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

.login-page .login-content {
    margin: 0 auto;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 75px 0;
}

.login-figure img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

.login-form-header {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
}

.button-wrapper .login-button {
    background-color: #e74c3c;
    border: none;
    align-items: center;
    width: 75%;
    color: white;
    padding: 0.50rem;
    margin: 0 auto;
    display: block;
}

.button-wrapper .login-button:hover {
    background-color: #a5362b;
    color: white;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-form-button {
    background-color: rgb(30 64 175 / 1);
    color: #fff;
    font-weight: 500;
}

.toggle-form-button:hover {
    background-color: rgb(30 64 175 / 0.9);
    color: #fff;
}

.orders-section,
.request-form-section {
    padding: 1.5rem;
    border-radius: var(--radius);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.request-form-section {
    margin-bottom: 1rem;
}

.form-select:focus {
    box-shadow: none;
}

.form-check-input:focus {
    box-shadow: none;
}

.student-orders-table {
    width: 100%;
    border-collapse: collapse;
}

.student-orders-table tbody tr td {
    font-size: 15px !important;
    color: #808080 !important;
    line-height: 1.2 !important;
    font-weight: unset !important;
    height: 50px !important;
    vertical-align: middle;
}